/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h2,
h3,
h4,
h5 {
  font-family: 'Courier New';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  flex-wrap: wrap;
}
header .header-pics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
header .header-pics .pic-header {
  height: 20vh;
  width: 20%;
}
@media (max-width: 500px) {
  header .header-pics .pic-header {
    width: 25%;
  }
}
@media (max-width: 500px) {
  header .header-pics .burger {
    display: none;
  }
}
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #333333;
  color: white;
}
@media (max-width: 500px) {
  .navbar {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 20vh;
  }
}
.navbar .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.navbar .icons .social-names {
  display: flex;
  justify-content: center;
}
.navbar .icons .social-names .social {
  width: 15%;
}
.navbar .icons .social-names h2 {
  font-size: 2.6rem;
}
.navbar .icons .social-names a {
  text-decoration: none;
  color: white;
}
.navbar .icons .social-names a:hover {
  transition: 0.5s ease;
  color: red;
}
@media (max-width: 500px) {
  .navbar .icons {
    display: none;
  }
}
.navbar .title {
  width: 10%;
  padding-left: 2%;
  margin: auto 4%;
}
@media (max-width: 500px) {
  .navbar .title {
    padding: none;
    margin-right: 28%;
    padding-bottom: 2%;
  }
}
.navbar .title a {
  color: white;
}
.navbar .title a:hover {
  transition: 0.5s ease;
  color: red;
}
.navbar .button-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
@media (max-width: 500px) {
  .navbar .button-logo {
    width: 100%;
  }
}
.navbar .button-logo .nav-logo {
  margin-left: 40%;
  width: 27%;
}
@media (max-width: 500px) {
  .navbar .button-logo .nav-logo {
    margin-left: 30%;
    width: 40%;
  }
}
.body {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}
.body .callToAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: rgba(29, 19, 19, 0.5);
}
@media (max-width: 500px) {
  .body .callToAction {
    width: 80%;
    background-color: rgba(29, 19, 19, 0);
  }
}
.body .callToAction .button1 {
  display: flex;
  width: 100%;
  padding-left: 20%;
  padding-top: 15%;
}
.body .callToAction .button1 a {
  width: 100%;
}
.body .callToAction .button1 a .buttons {
  border-radius: 24px;
  background: rgba(178, 180, 185, 0.616);
  color: white;
  padding: 4% 24%;
  width: 80%;
  text-shadow: 3px 3px #2c2323;
}
.body .callToAction .button1 a .buttons h1 {
  width: 100%;
  font-size: 2.8rem;
}
.body .callToAction .button1 a .buttons:hover {
  transition: 0.5s ease;
  background: #333333;
  text-shadow: none;
  border-radius: 12px;
}
.body .callToAction .button2 {
  display: flex;
  width: 100%;
  padding-left: 20%;
  padding-top: 30%;
}
.body .callToAction .button2 a {
  width: 100%;
}
.body .callToAction .button2 a .buttons {
  border-radius: 24px;
  background: rgba(178, 180, 185, 0.616);
  color: white;
  padding: 4% 24%;
  width: 80%;
  text-shadow: 3px 3px #2c2323;
}
.body .callToAction .button2 a .buttons h1 {
  width: 100%;
  font-size: 2.6rem;
}
.body .callToAction .button2 a .buttons:hover {
  transition: 0.5s ease;
  background: #333333;
  text-shadow: none;
  border-radius: 12px;
}
.team {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.team h2 {
  color: white;
}
.team .container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
}
.team .team-lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.team .profile {
  width: 50%;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .team .tuck {
    width: 30%;
  }
}
.team .front-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .front-end .developers {
  display: flex;
}
.team .front-end .developers a {
  display: flex;
}
.team .front-end .developers .ethan {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid white;
  justify-content: flex-end;
}
.team .front-end .developers .jacob {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.team .front-end .developers .celestia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid white;
}
.team .back-end {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .marketing {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .team h2 {
    font-size: 1.4rem;
  }
}
