// Navigation Styles here
header{
    display:flex;
    flex-wrap: wrap;

    .header-pics{
        display:flex;
        flex-wrap: wrap;
        width:100%;


        .pic-header{
            height:20vh;
            width: 20%;
        }
    }
}



.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #333333;
    color:white;

    .icons{
       display:flex;
       justify-content: space-around;
       align-items: center;
        width: 40%;
    

    .social{
        width:15%;
       
    }
}

.social-names{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    
    
    h2{
        font-size:2.5rem;
        
    }
    a{
        text-decoration: none;
        color:white;
    }
    a:hover{
        transition: .5s ease;
        color:red;
    }
}

.button-logo{
    display:flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width:30%;
    
    
}


.button1{
    .buttons(12px; white);
        width:115%;
        padding: 8%;
        font-size:1.2rem;
        text-align: center;
        color:black;
        margin-top:12%;
        
        a{
            text-decoration: none;
        }
}


.title{
    width: 10%;
    margin:auto 4%;
  
}
.nav-logo{
    margin-left:40%;
    width:40%;
    height:6vh;
    background-size: cover;

}

}
